
body{
background-color: green;
text-align: center;
overflow: scroll;
background-image: url("../images/icono.jpg");
background-repeat: no-repeat;
background-attachment: scroll;
background-position: 100% 0%;

}
form{
  background-color: 33CC00;
}
button
{
    font-size: 16px;
    font-variant: small-caps;
    padding: 10px;
    cursor: pointer;
    -webkit-transition: background 2s, color 2s, -webkit-transform 2s; /* For Safari 3.1 to 6.0 */
    transition: background 2s, color 2s, transform 2s;
    border: 1px solid #fff;
}
button:hover
{
    color: #fff;
    background: #000;
}


div{
  margin-top: 20px;
}
h1 img {
width: 600px;
height: 200px;
}
form input{
text-align: center;
font-size: 30px;

}
.botonJugar{
margin: 20px 0 20px 0;
padding: 10px;
text-align: center;
width: auto;
}
#miBoton:hover{
	text-decoration:underline;
	background-color: #06F;
}
#miBoton{
  font-family: serif;
  font-weight: bolder;
  width: 150px;
	height: 50px;
	border-color: black;
  border-radius: 20px;
  border-style: groove;

}
.saldoJugador{
  font-size: 100%;
  background: white;
  border-width: thick;
	border-style: groove;;
	border-color: gold;
  height: 150px;
	width: 30%;
  position: absolute;
  top: 65%;
  left: 35%;
  }
