
.parteArriba{
  position:fixed;
  background: grey;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  border-bottom: groove;
  border-bottom-width: 5px;
  border-bottom-color: yellow;
  z-index: 2;
}
.parteArriba img{
  top: 0px;
  left: 10px;
  z-index: 3;
}

.parteArriba p {
  position: fixed;
  top: 0px;
  text-align: left;
  margin: 3px;
  right: 5%;
  color: white;
  font-size: 23px;
  font-family:Arial, Helvetica, sans-serif;
}

.menuNavegacion{
  position: fixed;
  background: grey;
  top: 0px;
  left: 0px;
  width: 170px;
  height:100%;
  font-size: 20px;
  line-height: 100px;
  z-index: 1;
  border-right: groove;
  border-right-width: 5px;
  border-right-color: yellow;
}
.menuNavegacion ul{
  position: fixed;
  top: 100px;
  left: 0px;
  font-style: italic;
  list-style: none;
}
.menuNavegacion li:hover{
  margin: 0px;
  background-color: #555555;
  color: black;
}
.menuNavegacion li ul {
				display:none;
				position:absolute;
        top: 200px;
        left: 120px;
			}
.menuNavegacion li:hover > ul {
				display:block;
			}
.menuNavegacion li ul li {
				position:relative;
			}
.menuNavegacion li ul li ul {
				right:-140px;
				top:0px;
			}
.menuNavegacion a{
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.menuNavegacion li li a{
  font-weight: bolder;
  color: black;
}
.cuerpoHome{
position: absolute;
top: 70px;
left: 170px;
background-image: url(../images/fondos/AereaPlanta.jpg);
height: 100%;
width: 100%;
}
.cuerpoEmpresa{
position: absolute;
top: 70px;
left: 170px;
padding: 10px;
background: teal;
text-align: center;}

.cuerpoEmpresa p{
  text-align: justify;
}

.cuerpoContacto{
  position: absolute;
  top: 70px;
  left: 170px;
  padding-left: 100px;
  background: teal;
  width: 100%;
  height: 100%;
  color: black;
  line-height: 50px;
  font-size: 18px;
  font-family:Arial, Helvetica, sans-serif;
}
.cuerpoContacto h1,h2{
  color: white;
}
.botonEnviar:hover {
  background-color: #555555;
  color: black;
}
.cuerpoMaquinas{
  position: absolute;
  top: 70px;
  left: 170px;
  padding-top: 20px;
  padding-left: 100px;
  background: teal;
  width: 100%;
  height: auto;
}
.cuerpoMaquinas p{
  color: white;
  font-size: 20px;
  font-family:Arial, Helvetica, serif;
}

#picture {
		float:left;
		width: 33%;
	}
table,th,td{
  text-align: center;
  border: 1px groove gold;
}
.filagris{
  background: grey;
}
.stopfloat {
		clear:both;
	}
